:root {
    --gutter: 15px;
    --color-text: #000000;
    --coral: #EC7979;
    --grey: #86878B;
    --mobile-padding: 16px;
    --content-width: 1170px;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: var(--color-text);
    font-size: 18px;
    line-height: 1.4;
}
